.jumbotron{
    padding-top: 7rem;
    background-color: #cde1fe;
}

.list-unstyle{
    list-style: none;
}

#project
{
    background-color: #cde1fe;
}

.card{
    background: linear-gradient(to right, #000046, #1cb5e0)
}

section{
    padding-top:5rem;
}